- if @sara_mode == :suggest || @sara_mode == :search
  .navigation-area{style: @sara_mode == :search ? 'background-color: transparent;' : ''}
    .navigation
      %button.sara-button.button-primary.back-button
        .by-icon-v02> 2
        = t('nav.back_home')
      - if @sara_mode == :suggest
        .breadcrumbs
          .by-icon-v02 1
          - if @base_query.present?
            .breadcrumbs-text
              %a{href: suggest_path}= t('nav.suggest_topics')
            .by-icon-v02 1
            .breadcrumbs-text
              = @base_query['title']
          - else
            .breadcrumbs-text.active
              %a= t('nav.suggest_topics')
- if @sara_mode == :outline
  .navigation-area
    .navigation
      %button.sara-button.button-primary.back-button
        .by-icon-v02> 2
        = t(:back_to_favorites)