- if node['nodetype'] == 'branch' && node['nodes'].present?
  %div{class: "vertical-expand level-#{level} fcoll", "data-bs-target" => "#collf_#{level}_#{ordinal}", "data-bs-toggle" => "collapse", title: node['description']}
    %p.headline-4= node['title']
  .nested.collapse{id: "collf_#{level}_#{ordinal}", 'data-bs-parent' => parent}
    .nested-content.nested-list
      - ordinal = 0
      - node['nodes'].each do |inode|
        - ordinal += 1
        = render partial: 'shared/menu_item', locals: { node: inode, level: level + 1, ordinal: ordinal, parent: "#collf_#{level}_#{ordinal}" }
- elsif node['nodetype'] == 'wikidata_query' && node['base_query'].present?
  = link_to search_disambig_path(base_query: node['base_query']) do
    %div{class: "vertical-expand level-#{level} fcoll", title: node['description']}
      %p.headline-4= node['title']
- else
  = 'TBD'
