.full-screen-area
  .search-content
    .subjects-fixed-top-elements
      %div{:style => "margin-right: 220px"}
        .filter-tags-area
          .tags-right
            %p
              %strong= t(:x_topics_found, x: @topic_count)
            .tag-line
              - if @q.present?
                .tag
                  = t(:search_string, q: @q)
                  %a.by-icon-v02{:href => "#"} -
          .left-bottons-area
            %button#search-subject-results-button.sara-button.button-primary.disabled
              = t(:search_this_topic)
              .by-icon-v02 1
        .view-switch-line
          = t(:display_colon)
          .small-switch
            %button#list.small-switch-option.sort-by.active= t(:display_list)
            %button#timeline.small-switch-option.sort-by= t(:display_timeline)
            %button#map.small-switch-option.sort-by= t(:display_map)
    .filters
      .subjects-filter
        .flex-headline-space-between
          %p.headline-3 סינון לפי זמן
          .sara-icon c
        .bottom-buttons-line
          %a{:href => ""} הוספת מסנן
      .subjects-filter
        .flex-headline-space-between
          %p.headline-3 סינון לפי מיקום
          .sara-icon m
        .bottom-buttons-line
          %a{:href => ""} הוספת מסנן
      .subjects-filter.disabled
        .flex-headline-space-between
          %p.headline-3 סינון לפי מגדר
          .sara-icon g
        .bottom-buttons-line
          %a{:href => ""} הוספת מסנן
    .subjects
      .results-area
        .results-list{style: 'margin-top: 121px;'}
          - if @results.present?
            - @results.keys.each do |qid|
              .result-item
                - if @results[qid]['thumbnail'].present? # if result has a picture
                  .subject-picture
                    %img{alt: @results[qid][:label], src: @results[qid]['thumbnail']}
                .result-texts
                  .flex-headline-space-between
                    - if @results[qid]['instance-of'].present? && @results[qid]['instance-of'].include?('Q5') # human
                      - birth = @results[qid]['birthyear'].present? ? @results[qid]['birthyear'] : '?'
                      - death = @results[qid]['deathyear'].present? ? @results[qid]['deathyear'] : ''
                      %p.headline-3= @results[qid][:label]+ " (#{birth}–#{death})"
                      = @results[qid][:description]
                    - else
                      %p.headline-3= @results[qid][:label]
                      = @results[qid][:description]
                    .result-sources-icons
                      - if @results[qid]['wikipedia_url'].present?
                        = image_tag 'Wikipedia_logo_24.png', {alt: t(:wikipedia), title: t(:wikipedia)} 
                      - if @results[qid]['nli_id'].present?
                        = image_tag 'nli_logo_24.png', {alt: t(:nli), title: t(:nli)}
                      - if @results[qid]['benyehuda_url'].present?
                        = image_tag 'pby_logo_24.png', {alt: t(:pby), title: t(:pby)}
                  .results-limited-text
                    - if @results[qid]['occupations'].present?
                      %p
                        = t(:occupations)+': '
                        = @results[qid]['occupations'].map{|occ| @labels[occ] || '...'}.join('; ')
                      %p
                        = t(:nationality)+': '
                        = @labels[@results[qid]['nationality']]
                    - if @results[qid]['wikipedia_url'].present?
                      %a{href: @results[qid]['wikipedia_url']}= t(:to_wikipedia)

= form_for([Project.last, Query.new]) do |f|
  = f.hidden_field :text, class: 'form-control', id: 'search_q'
  = f.submit t('projects.show.run'), style: 'display:none'

:javascript
  $(document).ready(function() {
    $('.result-item').click(function(e) {
      e.stopPropagation();
      $('.result-item').removeClass('active');
      $(this).addClass('active');
      $('#search-subject-results-button').removeClass('disabled');
    });
    $('#search-subject-results-button').click(function(e) {
      if(!$(this).hasClass('disabled')) {
        $('#search_q').val($('div.result-item.active > div.result-texts > div.flex-headline-space-between > p').text());
        $('form').submit();
      } else alert('#{ t(:please_select_topic) }');
    });
  });
  