.full-screen-area
  .search-content
    .subjects-fixed-top-elements
      %div{:style => "margin-right: 220px"}
        .filter-tags-area
          .tags-right
            %p
              %strong= t(:x_topics_found, x: @topic_count)
            .tag-line
              .tag
                = t(:search_string, q: @q)
                %a.by-icon-v02{:href => "#"} -
          .left-bottons-area
            %button#search-subject-results-button.sara-button.button-primary.disabled
              = t(:search_this_topic)
              .by-icon-v02 1
        .view-switch-line
          = t(:display_colon)
          .small-switch
            %button#list.small-switch-option.sort-by.active= t(:display_list)
            %button#timeline.small-switch-option.sort-by= t(:display_timeline)
            %button#map.small-switch-option.sort-by= t(:display_map)
    .filters
      .subjects-filter
        .flex-headline-space-between
          %p.headline-3 סינון לפי זמן
          .sara-icon c
        .bottom-buttons-line
          %a{:href => ""} הוספת מסנן
      .subjects-filter
        .flex-headline-space-between
          %p.headline-3 סינון לפי מיקום
          .sara-icon m
        .bottom-buttons-line
          %a{:href => ""} הוספת מסנן
      .subjects-filter.disabled
        .flex-headline-space-between
          %p.headline-3 סינון לפי מגדר
          .sara-icon g
        .bottom-buttons-line
          %a{:href => ""} הוספת מסנן
    .subjects
      .results-area
        .results-list{style: 'margin-top: 121px;'}
          - @results.each do |result|
            .result-item
              - if @moredata[result['id']]['thumbnail'].present? # if result has a picture
                .subject-picture
                  %img{alt: result.dig('display', 'label', 'value'), src: @moredata[result['id']]['thumbnail']}
              .result-texts
                .flex-headline-space-between
                  - birth = @moredata[result['id']]['birthyear'].present? ? @moredata[result['id']]['birthyear'] : '?'
                  - death = @moredata[result['id']]['deathyear'].present? ? @moredata[result['id']]['deathyear'] : ''
                  %p.headline-3= result.dig('display', 'label', 'value')+ " (#{birth}–#{death})"
                  = result.dig('display', 'description', 'value')
                  .result-sources-icons
                    - if @moredata[result['id']]['wikipedia_url'].present?
                      %img{alt: t(:wikipedia), title: t(:wikipedia), src: "/assets/Wikipedia_logo_24.png"} 
                    - if @moredata[result['id']]['nli_id'].present?
                      %img{alt: t(:nli), title: t(:nli), src: "/assets/nli_logo_24.png"}
                    - if @moredata[result['id']]['benyehuda_url'].present?
                      %img{alt: t(:pby), title: t(:pby), src: "/assets/pby_logo_24.png"}
                    %a.by-icon-v02{:href => "#"} -
                .results-limited-text
                  - if @moredata[result['id']]['occupations'].present?
                    %p
                      = t(:occupations)+': '
                      = @moredata[result['id']]['occupations'].map{|occ| @labels[occ] || '...'}.join('; ')
                    %p
                      = t(:nationality)+': '
                      = @labels[@moredata[result['id']]['nationality']]
                  - if @moredata[result['id']]['wikipedia_url'].present?
                    %a{href: @moredata[result['id']]['wikipedia_url']}= t(:to_wikipedia)
:javascript
  $(document).ready(function() {
    $('.result-item').click(function(e) {
      e.stopPropagation();
      $('.result-item').removeClass('active');
      $(this).addClass('active');
    });
  });
  