!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title Sara
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload'
  %body{ align: :right, dir: :rtl, class: "#{controller_name}-#{action_name}" }
    = render partial: 'shared/top_bar'
    .top-element
    .container-fluid
      = yield
:javascript
  $(document).ready(function() {
    // adjust page to accommodate extra header height
    var h = $('#header').height();
    $('.top-element').css('margin-top',h);
  });